@model ICollection<Node>
@{
    ViewData["Title"] = "Стартовая";
}

<div id="tree">
    <select id="tree_select" class="form-select w-100" size="16" v-model="selected">
        <option value="0" selected>/.</option>
        @foreach (var item in Model)
        {
            <option value="@item.Id">
                @Html.Raw(String.Concat(Enumerable.Repeat("&emsp;", item.Depth)))
                @Html.DisplayFor(modelItem => item.Name)
            </option>
        }
    </select>


    <div class="row mt-2">
        <p class="text text-danger">@TempData["Error"] </p>
        <div class="col-9">
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "Home")/' + encodeURIComponent(document.getElementById('tree_select').value);">Добавить</button>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Home")/' + encodeURIComponent(document.getElementById('tree_select').value);">Изменить</button>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Delete", "Home")/' + encodeURIComponent(document.getElementById('tree_select').value);">Удалить</button>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Move", "Home")/' + encodeURIComponent(document.getElementById('tree_select').value);">Переместить</button>
        </div>
    </div>



    <div class="row mt-2">
        <div class="col-9">

            <form asp-action="ExportXml">
                <div class="form-group mt-3">
                    <input type="submit" value="Экспорт в файл" class="btn btn-primary" />
                </div>
            </form>

            <form method="post" enctype="multipart/form-data" asp-action="ImportXml">
                <div class="form-group mt-3">
                    <input type="file" name="uploadedFile" onchange="form.submit()" value="Импорт файла" class="btn-primary" />
                </div>
            </form>

        </div>
    </div>


</div>

<script>
    var tree = new Vue({
        el: '#tree',
        data: {
            selected: '0'
        }
    })
</script>